*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/build
*iml
/*iml
/.idea*
.idea*
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*iml
/*iml
/.idea*
.idea*
.idea/gradle.xml
/.idea/gradle.xml
app/app.iml
/app/app.iml
app/google-services.json
/app/google-services.json
app/src/main/res/values/strings.xml
/app/src/main/res/values/strings.xml